#bgColor {
  background-color: #f4f4eb;
}

#menuQ {
  background-color: #2e4057;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #c1edcc;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #9ec2a7;
}

a {
  color: #d17415;
}

h1 {
  color: #d17415;
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
  font-family: 'Faster One', cursive;
}

.img {
  height: 20rem;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  text-align: justify;
}

h2 {
  color: #d17415;
  font-weight: bold;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: 'Londrina Shadow', cursive;
}

h3 {
  color: #d17415;
  font-weight: bold;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: 'VT323', monospace;
}

li {
  font-family: 'Londrina Solid', cursive;
}

.caption-text {
  padding-top: 1rem;
  text-align: center;
}

.quote {
  border: 0.3rem solid #9ec2a7;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

label {
  font-family: 'Press Start 2P', cursive;
}

input {
  font-family: 'Press Start 2P', cursive;
  color: #d17415;
}

textarea {
  font-family: 'Press Start 2P', cursive;
  color: #d17415;
}

#form {
  margin-top: 15rem;
  margin-bottom: 5rem;
  background-color: #2e4057;
  color: white;
}

/* CSS du Footer */
footer {
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
  background-color: #2e4057;
  padding-top: 0.2rem;
}

h6 {
  color : #c1edcc;
}

.footer-title {
  font-size: 0.98rem;
  font-weight: 700;
}

.footer-legis {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

hr.footerHR {
  background-color: rgb(171, 63, 44);
  width: 60px;
}

li {
  list-style: none;
}

/* ***** Links ******/
a.footerText {
  color: #FFF;
  text-decoration: none;
}

/************* SEPARATOR *************/
.separator {
  background-color: #666;
  height: .06em;
  margin-bottom: .7em;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  /*aspect ratio 16:9 ==> 9/16x100 = 56.25*/
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer-copyright {
  color: #9ec2a7;
  font-family: 'Press Start 2P', cursive;
  font-size : 0.75rem;
}
